<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>ifelif condition</h1>
        {% if a > b and a > c %}
         <h1>if block</h1>
         <h1>A is greater than B,C</h1>
        {% elif b > c %} 
          <h1>elif block</h1>
          <h1>b is greater than A,C</h1>
        {% else %}  
          <h1>else block</h1>
          <h1>c is greater than A,B</h1>
        {% endif %}  
    </center>
</body>
</html>